[run]
source =
    game
    tests
omit =
    env/*
    */test*
    tests/*
    */__init__.py
    *menu.py
[report]
exclude_lines =
    pragma: no cover
    def setUp
    def test_
    return raw_input
    print
    if __name__ == '__main__':
    def suite
    __str__
    cli = Cli() 
    menu = Menu(cli)  
    menu.main()
    cli.start_game()
    def show_board
    def is_playing
    def get_cell